<div class="home">
<div id="myCarousel" class="carousel slide bg-inverse" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'sl11.png' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'sl11.png' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'sl11.png' %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Назад</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Вперед</span>
  </a>
</div>
 </div>
<!--<div class="about" id="about">
   <div class="container-fluid">
     <div class="row text-justify">
       <div class="col col-centered">
        <h2></h2>
         <p></p>
         <p></p>
         <p></p>
        </div>
     </div> 
   </div>
 </div> -->
  
  
 <div class="social-media" id="social-media">
  <div class="container-fluid">
    <h2>Подпишись!</h2>
    <p class="text-center">@transnistriatrip для всего</p>
   <div class="row">
    <div class="col text-center">
      <h2>Twitter</h2>
        <a href="#" target="blank">
      <img class="rounded-circle" src="http://siesta.kiev.ua/photos/germany/f-1306164759.jpg" onmouseover="this.src='https://cnt.gianteagle.com/giftcards/footer/twitter-icon.svg'" onmouseout="this.src='http://siesta.kiev.ua/photos/germany/f-1306164759.jpg'" width=140px height=140px></a>
      </div>
    <div class="col text-center">
      <h2>VK</h2>
      <a href="#" target="blank">
      <img class="rounded-circle" src="http://vsitury.com.ua/uploads/145/16531/P4.jpg" onmouseover="this.src='https://avatanplus.com/files/resources/mid/57c03bddadd24156c6e9da10.png'" onmouseout="this.src='http://vsitury.com.ua/uploads/145/16531/P4.jpg'" width=140px height=140px></a>
      </div>
    <div class="col text-center">
      <h2>Instagram</h2>
      <a href="#" target="blank">
      <img class="rounded-circle" src="https://www.euromag.ru/storage/c/2017/03/20/1490105984_032276_6.jpg" onmouseover="this.src='http://images.all-free-download.com/images/graphiclarge/instagram_new_icon_6822180.jpg'" onmouseout="this.src='https://www.euromag.ru/storage/c/2017/03/20/1490105984_032276_6.jpg'" width=140px height=140px></a>
     </div>
   </div>
  </div>
 </div>

