footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #040404;
  color: #232121;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 91%;
}

footer ul {
  float: right;
  font-size: 15px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

