<footer class="footer">
  <small>
   <a> <%= link_to 'Transnistria Trip',root_path  %> </a>
    &copy; 2017 Все права защищены.
  </small>
  <nav>
  
    <ul>
      <li><%= link_to 'Главная', root_path%></li>
      <li><%= link_to 'Новости', news_path%></li>
      <li><%= link_to 'Обратная связь', new_contact_path%></li>
    </ul>
    
  </nav>
</footer>